* {
    font-family: Gilroy;
}

/*스크롤상태바*/
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  .progress-container {
    width: 100%;
    height: 3px;
    background: #ccc;
  }
  .progress-bar {
    height: 3px;
    background: #2c2a52;
    width: 0%;
    transition: all .75s ease;
  }


#caption {
    position: absolute;
    left: 10%;
    width: 100%;
    z-index: 2;
    pointer-events: none;
    color: white;

}

.carousel-item img {
    height: 500px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.team-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #2c2a52;
}

.team-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-list img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.team-list h3,
.team-list p {
    margin: 5px 0;
}

.profile-img {
    cursor: pointer;
    transition: filter 0.3s ease;
}

.profile-img img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.intros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    background-color: #f9f9f9;
    margin-top: 50px;
}

.intro-title strong {
    font-size: 18px;
    font-weight: 300;
    color: #2c2a52;
    display: block;
}

.intro-title em {
    margin-top: 14px;
    display: block;
    font-size: 54px;
    font-weight: 500;
    font-style: normal;
    color: #2c2a52;
}

.intro-txt span {
    font-weight: 500;
    color: #4b49a1;
}

footer {
    margin-bottom: 50px;
    padding-left: 1rem;
}

/*화면상단 이동버튼 시작*/
.MoveTop-btn {
    width: 75px;
    height: 75px;
    display: flex;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    padding: 1rem 1rem;
    background: gainsboro;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    transition: .3s;
    color: black;
    margin-right: .4rem;
    opacity: 75%;
    


}

.MoveTop-btn:hover {
    background: grey;
}

/*화면상단 이동버튼 끝*/