* {
    font-family: Gilroy;
}

html, body {
    overflow-x: hidden;
}

/* splash screen */
.splash-screen {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 24px;
}

.left-half {
    background-color: white;
    color: black;
    width: 27.5%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    animation: slideIn 1s forwards;
    animation-delay: 1s;
}

.right-half {
    background-color: #4b49a1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    animation: slideIn 1.5s forwards;
}

.splash-screen-caption {
    color: white !important;
}

.splash-screen-caption span{
    color: #4b49a1 !important;
}

.splash-content {
    position: relative;
    z-index: 20;
}

.hide-splash {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease, visibility 2s ease;
}

.splash-screen-caption {
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    color: black;
    letter-spacing: 20px;
    word-spacing: 10px;
}

.slide-out-left {
    animation: slideOutLeft 0.5s forwards;
}

.slide-out-right {
    animation: slideOutRight 0.5s forwards;
}

@keyframes slideIn {
    from {
        right: -100%;
    }
    to {
        right: 0%;
    }
}

/* @keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideOutRight {
    to {
        transform: translateX(100%);
    }
} */


/* 네비게이션 바 */
.navbar {
    position: absolute;
    width: 100%;
    z-index: 3;
    background-color: transparent;
    margin: 30px;
}

#navbarNav {
    margin-right: 30px;
}

.navbar-brand {
    color: white !important;
    font-style: italic;
    font-size: 30px;
    font-weight: 900;
}

.navbar-nav .nav-item {
    margin: 0 20px;
}

.nav-item:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 5px;
}

#ourPeople {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 5px;
}

.nav-link {
    color: white !important;
}


/*스크롤상태바*/
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}
.progress-container {
    width: 100%;
    height: 3px;
    background: #ccc;
}
.progress-bar {
    height: 3px;
    background: #2c2a52;
    width: 0%;
    transition: all .75s ease;
}

.all-content {
    display: none;
}


#caption {

    position: absolute;
    left: 10%;
    width: 100%;
    z-index: 2;
    pointer-events: none;
    color: white;



}

.carousel-item img {
    height: 500px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.team-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #2c2a52;
}

.team-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-list img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.team-list h3,
.team-list p {
    margin: 5px 0;
}

.profile-img {
    cursor: pointer;
    transition: filter 0.3s ease;
}

.profile-img img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
/****************수정중******************/
.introimage {
    float: left;
    vertical-align: top;
    width: 400px;
    height: 350px;
    border-radius: 0 150px 150px 0;
    margin: -359px 0px 0px -427px;
  }
/*****************************************/
.intros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    background-color: #f9f9f9;
    margin-top: 50px;
}



.intro-title strong {
    font-size: 18px;
    font-weight: 300;
    color: #2c2a52;
    display: block;
}

.intro-title em {
    margin-top: 14px;
    display: block;
    font-size: 54px;
    font-weight: 500;
    font-style: normal;
    color: #2c2a52;
}

.intro-txt span {
    font-weight: 500;
    color: #4b49a1;
}

.fulllSize{
    height:250px;
    width:250px;
}

footer {
    margin-bottom: 50px;
    padding-left: 1rem;
}

/*화면상단 이동버튼 시작*/
.MoveTop-btn {
    width: 75px;
    height: 75px;
    display: flex;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    padding: 1rem 1rem;
    background: gainsboro;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    transition: .3s;
    color: black;
    margin-right: .4rem;
    opacity: 75%;
    


}

.MoveTop-btn:hover {
    background: grey;
}

/*화면상단 이동버튼 끝*/